# macOS
.DS_Store

# Xcode
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings
*.xcodeproj/xcshareddata/IDETemplateMacros.plist
*.xcodeproj/xcshareddata/xcschemes/*
!*.xcodeproj/xcshareddata/xcschemes/*.xcscheme

# SwiftPM
.build/

# User data
*.swp
*.swo
*.orig
*.rej
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xcuserdatad/

# Derived data
DerivedData/

# Archives
*.xcarchive

# Playground
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# SPM
.swiftpm/

# Xcode Server
integration_logs/

# App Icon backup
*.iconset/

# Other
*.moved-aside
.idea/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Local environment
.env
.gitignore
